/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    /*rgb(11,201,134)*/

}

body {
    background-color: #fff;
    font-family: 'Open-Sans', serif; /*change to better font at later date*/
    /*rgb(11,201,134)*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 1.1;
}
h1 {
    font-size: 36px;
    line-height: 1.5;
    font-weight: 100;
}
p {
    font-size: 18px;
    line-height: 1;
    font-style: normal; /*maybe change to italic*/
}
caption {
    font-size: 24px;
    line-height: 1.25;
    font-weight: 300;
    text-align: center;
}
a {
    color: #05945F;
}
a:hover {
    text-decoration: none;
    color: #003932;
}
a:visited {
    color: #05945F;
}
a:active {
    color: #003932;
}
a:focus {
    outline: 2px solid blue;
}
button {
    border: none;
    display: inline-block;
    background-color: lightskyblue;
    color: black;
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 3px;
    font-family: inherit;
    text-decoration: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    -webkit-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
.button {
    border: none;
    display: inline-block;
    background-color: lightskyblue;
    color: black;
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 3px;
    font-family: inherit;
    text-decoration: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    -webkit-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
.grid-button {
    border: none;
    display: inline-block;
    background-color: lightskyblue;
    color: black;
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 3px;
    font-family: inherit;
    text-decoration: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    -webkit-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
button:hover {
    background-color: #003932;
}
.button:hover {
    background-color: #003932;
}
.grid-button:hover {
    background-color: #003932;
}
button:active {
    background-color: #05945F;
}
.button:active {
    background-color: #05945F;
}
.grid-button:active {
    background-color: #05945F;
}
button:focus, .button:active {
    border: 2px solid blue;
}
button:hover, button:focus, .button:hover, .button:focus, .grid-button:hover, .grid-button:focus {
    cursor: pointer;
    opacity: .8;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}
.grid-button {
    background-color: #003932;
    color: lightskyblue;
}
div {
    padding: 10px;
    margin: 10px;
}
.profile__portrait {
    float: left;
    height: auto;
    width: 250px;
    margin-right: 40px;
    border-radius: 20%;
}
@-webkit-keyframes shimmer {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 300% 0%;
    }
}
@keyframes shimmer {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 300% 0%;
    }
}
.span-web {
    background: -o-linear-gradient(45deg, #05945F, #003932, lightskyblue);
    background: linear-gradient(45deg, #05945F, #003932, lightskyblue);
    background-size: 300% 100%;
    color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-animation: shimmer 10s linear infinite;
            animation: shimmer 10s linear infinite;
}
.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    background-color: #05945F;
    margin-top: 150px;
}
.social-media a :hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}
.profile {
    max-width: 700px;
    margin: 0 auto;
    padding: 100px;
}
.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 16px 24px 16px 0px;
    border-bottom: 1px solid lightgray;

}
.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50px;
            flex: 0 1 50px; /*changed from 200px to 175px for logo to fit better*/
    padding-left: 10px;

} 
.page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
    font-size: 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    
}
.navigation-list__item {
    text-decoration: none;
    padding: 8px;
}
.navigation-list__item:hover {
    color: lightskyblue;
}
.navigation-list__item--active {
    text-decoration: underline;
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 300px 20px 300px;
    grid-template-rows: 300px 300px;
    grid-gap: 20px;
}
.grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}
.grid > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}
.grid > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}
.grid > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}
.grid > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}
.grid__item {
    display: inline-block;
    width: auto;
}
.grid__item {
    background-color: #fff;
    -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    border: solid lightgray;
    text-align: center;
    padding: 10px;
    border-radius: 2%;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
.grid__item:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}
.about-page {
    background-color: #fff;
    -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    border: solid lightgray;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
    width: 750px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    border-radius: 1%;
}   
.about-page__item {
    margin: auto;
}
table, th, td {
    border-collapse: collapse;
    text-align: center;
    padding-inline: 5px;
    border: 1px solid black;
}
.about-svg {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 175px;
}

@-webkit-keyframes moon-color-change {
    0% {
        fill: #FBFCD4;
    }
    50% {
        fill: lightskyblue;
    }
    100% {
        fill: #05945F;
    }
}

@keyframes moon-color-change {
    0% {
        fill: #FBFCD4;
    }
    50% {
        fill: lightskyblue;
    }
    100% {
        fill: #05945F;
    }
}
.moon {
    -webkit-animation: 10s moon-color-change infinite alternate linear;
            animation: 10s moon-color-change infinite alternate linear;
}
@-webkit-keyframes cloud-move {
    0% {
        -webkit-transform: translate(900px,50px);
                transform: translate(900px,50px);
    }
    100% {
        -webkit-transform: translate(1200px,50px);
                transform: translate(1200px,50px);
    }
}
@keyframes cloud-move {
    0% {
        -webkit-transform: translate(900px,50px);
                transform: translate(900px,50px);
    }
    100% {
        -webkit-transform: translate(1200px,50px);
                transform: translate(1200px,50px);
    }
}
.cloud {
    -webkit-animation: 30s cloud-move infinite alternate linear;
            animation: 30s cloud-move infinite alternate linear;
}
.projects-header {
    text-align: center;
}
@media all and (max-width:500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}
@media all and (min-width:500px) and (max-width:750px) {
    .grid {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}
@media all and (max-width:750px) {
    .grid {
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}
.contact-page {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    margin: 0 24px 0;
    border: solid lightgrey;
    -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    padding: 24px 32px;
    border-radius: 12px;
}
.contact-page__item {
    width: auto;
    min-height: auto;
    padding: 0px 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.contact-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
@media all and (max-width:750px) {
    .contact-page {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}
@media all and (max-width:750px) {
    .about-svg {
        display: none;
    }
}
@media all and (max-width:800px) {
    .about-page {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: auto;
    }
    .about-page__item {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 0px;
                flex: 0 1 0;
    }
}
@media all and (max-width:625px) {
    .profile {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        width: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-flex: 0;
            -ms-flex: 0 1 0px;
                flex: 0 1 0;
        padding: 75px;

    }
    h1{
        text-align: center;
    }
    p{
        text-align: center;
    }
    a{
        text-align: center;
    }
    body{
        line-height: 1;
    }
    .profile__portrait{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
    }
}
@media all and (max-width:750px) {
    .page-footer{
        margin-top: 30px;
    }
}
@media all and (max-width:600px) {
    .page-footer{
        margin-top: 10px;
    }
}
@media all and (max-width:600px) {
    .page-header{
        padding: 5px;
    }
    .navigation-list__item{
        padding: 3px;
    }
}